<template>

    <div class="container app-container">

        <nav class="nav nav-pills navbar-top">
            <router-link :to="{ name: 'Home' }" class="nav-link" :class="{ active: $route.name === 'Home' }">Home</router-link>
            <router-link :to="{ name: 'ColourAveraging' }" class="nav-link" :class="{ active: $route.name === 'ColourAveraging' }">Colour Averaging</router-link>
            <router-link :to="{ name: 'ArrayToHtml' }" class="nav-link" :class="{ active: $route.name === 'ArrayToHtml' }">Array to HTML</router-link>
        </nav>

        <router-view></router-view>

    </div>

</template>

<style>

    .app-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .navbar-top {
        margin-bottom: 20px;
    }

</style>

<script>

    export default {
        name: 'App'
    }

</script>