<template>

    <div class="page--array-to-html">

        <h1>Array to HTML</h1>

        <p>A simplified version of HTML can be represented by using arrays to represent elements:</p>

        <code>[tagName, child1, child2, ...]</code>

        <ul>
            <li>The tag name is always the ﬁrst entry in the array and is a string</li>
            <li>The children can be either arrays or strings</li>
            <li>If the child is a string it is treated as plain text, not HTML markup</li>
            <li>If the child is an array it is treated as a nested element</li>
            <li>There is no support for attributes, comments, etc., just elements and text</li>
        </ul>

        <p>Implement a JavaScript function that takes an array and generates the HTML string.</p>

        <ul>
            <li>Empty tags should be self-closing</li>
            <li>Consecutive text nodes are merged in the finished output</li>
            <li>No libraries, build processes or transpilers</li>
        </ul>

        <p>Examples:</p>

        <pre>
            ['div']                       => '&lt;div/&gt;'
            ['h1', 'Text']                => '&lt;h1&gt;Text&lt;/h1&gt;'
            ['span', 'More', 'Text']      => '&lt;span&gt;MoreText&lt;/span>'
            ['a', ['b', 'More'], ' Text'] => '&lt;a&gt;&lt;b>More&lt;/b&gt; Text&lt;/a>'
            ['p', '&lt;b&gt;Text&lt;/b&gt;']          => '&lt;p&gt;&amp;lt;b&amp;gt;Text&amp;lt;/b&amp;gt;&lt;/p&gt;'
        </pre>

        <hr class="divider">

        <h4>Add Your Own Array</h4>

        <p>Add your own sample to the list below - remember to use valid JSON including double quotes for strings!</p>

        <form @submit.prevent="addSubmitted">
            <div class="row">
                <div class="col">
                    <label>Array in JSON</label>
                    <textarea class="form-control" v-model="input"></textarea>
                </div>
                <div class="col d-flex align-items-end">
                    <button type="submit" class="btn btn-primary" :disabled="!canSubmit">Bam!</button>
                </div>
            </div>
        </form>

        <hr class="divider">

        <div class="samples">
            <div class="sample" v-for="(html, k) in htmls">
                <div class="json">{{ JSON.stringify(samples[k]) }}</div>
                <div class="html">{{ html }}</div>
            </div>
        </div>

    </div>

</template>

<style>

    .sample + .sample {
        margin-top: 20px;
    }

    .sample .json {
        font-family: monospace;
    }

    hr.divider {
        margin: 20px 0;
    }

</style>

<script>

    export default {
        name: 'ArrayToHtml',

        data() {
            return {
                samples: [
                    ['p', '<b>Text</b>'],
                    ['a', ['b', 'More'], ' Text'],
                    ['span', 'More', 'Text'],
                    ['h1', 'Text'],
                    ['div']
                ],

                input: null
            };
        },

        computed: {
            htmls() {
                return this.samples.map(arr => {
                    try {
                        return this.convertArrayToHtml(JSON.parse(JSON.stringify(arr))); // stringify then parse to revert to un-observed array
                    }
                    catch (e) {
                        return '!!error!!';
                    }
                });
            },

            canSubmit() {
                try {
                    return this.input
                    && this.input !== ''
                    && JSON.parse(this.input)
                        ? true : false;
                }
                catch (e) {
                    return false;
                }
            }
        },

        methods: {
            convertArrayToHtml(nodes) {
                let html = [];

                let tag = nodes.shift();

                nodes = nodes.map(node => {
                    return typeof node === 'object'
                        ? this.convertArrayToHtml(node)
                        : this.escapeHtml(node);
                });

                if (nodes.length) {
                    html.push(`<${tag}>`);
                    html.push(nodes.join(''));
                    html.push(`</${tag}>`);
                }
                else { // self-closing tag
                    html.push(`<${tag}\/>`);
                }

                html = html.join('');

                console.log('html = ', html);

                return html;
            },

            escapeHtml(str) {
                let el = document.createElement('div');
                let text = document.createTextNode(str);
                el.appendChild(text);
                return el.innerHTML;
            },

            addSubmitted() {
                if (!this.canSubmit) return false;

                let parsed = JSON.parse(this.input);

                this.samples.unshift(parsed);
                this.input = null;
            }
        }
    }

</script>