<template>

    <div class="page--colour-averaging">

        <h1>Colour Averaging</h1>

        <blockquote class="blockquote">
            <p>Write a function that takes 2 colours as arguments and returns the average colour.</p>
            <ul>
                <li>The parameters will be two 6-digit hexadecimal strings</li>
                <li>This does not need to be validated</li>
                <li>The return value should be a 6-digit hexadecimal string</li>
                <li>The hexadecimal strings represent colours in RGB, much like in CSS</li>
                <li>The average colour is to be determined by taking the arithmetic mean for each component: red, green
                    and blue
                </li>
            </ul>
        </blockquote>

        <hr class="divider">

        <h4>Average Two Colours</h4>

        <p>Find out what the average of two colours are - add your 6-character hex codes using the form below.</p>

        <form @submit.prevent="addSamples">
            <div class="row">
                <div class="col">
                    <label>First Colour</label>
                    <input type="text" class="form-control" v-model="first"/>
                    <div class="swatch" :style="stylesSwatchFirst"></div>
                </div>
                <div class="col">
                    <label>Second Colour</label>
                    <input type="text" class="form-control" v-model="second"/>
                    <div class="swatch" :style="stylesSwatchSecond"></div>
                </div>
                <div class="col">
                    <label>&nbsp;</label><br />
                    <button type="submit" class="btn btn-primary" :disabled="!canAddSamples">Pow!</button>
                </div>
            </div>
        </form>

        <hr class="divider">

        <div class="samples">
            <template v-for="sample in samples">
                <div class="row sample">
                    <div class="col">
                        <label>First Colour</label>
                        <input type="text" class="form-control" readonly :value="sample.first"/>
                        <div class="swatch" :style="{ 'background-color': '#'+sample.first }"></div>
                    </div>
                    <div class="col">
                        <label>Second Colour</label>
                        <input type="text" class="form-control" readonly :value="sample.second"/>
                        <div class="swatch" :style="{ 'background-color': '#'+sample.second }"></div>
                    </div>
                    <div class="col">
                        <label>Averge</label>
                        <input type="text" class="form-control" readonly :value="averageColour(sample.first, sample.second)"/>
                        <div class="swatch"
                             :style="{ 'background-color': '#'+averageColour(sample.first, sample.second) }"></div>
                    </div>
                </div>
            </template>
        </div>

    </div>

</template>

<style>

    .swatch {
        padding: 20px;
    }

    .sample + .sample {
        margin-top: 40px;
    }

    hr.divider {
        margin: 40px 0;
    }

</style>

<script>

    export default {
        name: 'ColourAveraging',

        data() {
            return {
                first: null,
                second: null,

                samples: [
                    {first: '00ff00', second: 'ff0000'},
                    {first: '00ff00', second: '0000ff'},
                    {first: 'ff0000', second: '0000ff'},
                    {first: 'ff0000', second: '00ff00'},
                    {first: '224466', second: '446688'},
                    {first: '000000', second: 'ffffff'}
                ]
            }
        },

        computed: {
            canAddSamples() {
                return this.first && this.first.length == 6
                    && this.second && this.second.length == 6
                    ? true : false;
            },

            stylesSwatchFirst() {
                let styles = {};
                if (this.first) styles.backgroundColor = '#' + this.first;
                return styles;
            },

            stylesSwatchSecond() {
                let styles = {};
                if (this.second) styles.backgroundColor = '#' + this.second;
                return styles;
            }
        },

        methods: {
            averageColour(first, second) {
                let normalisedFirst = this.normaliseHex(first);
                let normalisedSecond = this.normaliseHex(second);

                console.log('norm = ', normalisedFirst, normalisedSecond);

                let average = [];

                for (var i = 0; i < 3; i++) {
                    average.push(
                        Math.round(
                            (normalisedFirst[i] + normalisedSecond[i]) / 2
                        )
                    );
                }

                console.log('average = ', average);

                return average.map(function (val) {
                    let hex = val.toString(16);
                    if (hex.length < 2) hex = '0' + hex;
                    return hex;
                }).join('');
            },

            normaliseHex(colour) {
                let r = colour.substr(0, 2);
                let g = colour.substr(2, 2);
                let b = colour.substr(4, 2);

                let rgb = [
                    parseInt('0x' + r),
                    parseInt('0x' + g),
                    parseInt('0x' + b)
                ];

                console.log(colour, rgb);

                return rgb;
            },

            addSamples() {
                if (!this.canAddSamples) return false; // *minimal* validation!!

                this.samples.unshift({
                    first: this.first,
                    second: this.second
                });

                this.first = null;
                this.second = null;
            }
        }
    }

</script>