<template>

    <div class="page--home">

        <h1>Home</h1>

        <p>This is a technical demo consisting of two tasks in JavaScript, created as an SPA using Vue and Vue Router.</p>

    </div>

</template>

<script>

    export default {
        name: 'Home'
    }

</script>